@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Kanit', sans-serif;
}

:active hr{
  @apply block;
}

.Toastify__toast-container {
  z-index: 99999 !important;
}

.Toastify__toast {
  min-height: 64px;
}

